###  Python practice

###  1) Variables

In [2]:
##1i) Integers
a=1
#1ii) Float
b=12.55
## 1iii) String
c="AMIT"
## 1iv) Booleans
d=True
## 1v) Complex
e=3+5j
print(type(a),type(b),type(c),type(d),type(e))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'complex'>

### 2) Input

In [3]:
ip=input("enter a number")

enter a number3

### 3 Data Type Conversion

In [11]:
x=int(b)
print(x,type(x))

y=bool(a)
print(y,type(y))

ai="123"
aii=int(ai)
print(ai,type(ai), aii,type(aii))

print(complex(x))

## float to str

bs=str(b)
print(bs,type(bs))

12 <class 'int'>
True <class 'bool'>
123 <class 'str'> 123 <class 'int'>
(12+0j)
12.55 <class 'str'>

### 4 Printing format

In [20]:
# normal
print("value of a is",a)

## puting two values
print("this",a,"is a ",b)

## printing using {}
print("value of a is {} and value of b is {}".format(a,b)) ## note there is dot after ""


## printing like in c
# %d= integer
# %f= float
# %s= string
# %b=bool

print("this a is in float %f,and value of b is in int %d,value of a in str %s" %(a,b,a))

value of a is 1
this 1 is a  12.55
value of a is 1 and value of b is 12.55
this a is in float 1.000000,and value of b is in int 12,value of a in str 1

###### Exercise 1: Take as input an integer and a float. Print the integer and the float. Also print their sum along with the type of the sum.

In [22]:
i=int(input("enter integer"))
j=float(input("enter float"))
print("value of i %d,value of j %f" %(i,j))
print("sum of i and j {} type of{} ".format(i+j,type(i+j)))

enter integer3
enter float3.5
value of i 3,value of j 3.500000
sum of i and j 6.5 type of<class 'float'>

###  5) Operators

##### 5.i) Arthimetic

In [24]:
print("add",i+j)
print("substract",i-j)
print("multiplicatiion",i*j)
print("division",i/j)
print("exponent",i**j)

add 6.5
substract -0.5
multiplicatiion 10.5
division 0.8571428571428571
exponent 46.76537180435969

##### 5ii) Assingment operators

In [34]:
#single assingment
n=2
## multiple assinging values
n1,n2,n3,n4=1,2.8,"ISI",False
## additon to one value
print("value of n1 %d before addition"%n1)
n1+=4 # n1=n1+4
print(n1)

n1-=3 # n1=n1-3
print("value of n1 after substraction '3'", n1)

n1*=10 #n1=n1*2
print("after multipilaction",n1)

n1//=3 ## // exponent
print(n1)

n1%=4 ## reminder
print(n1)

value of n1 1 before addition
5
value of n1 after substraction '3' 2
after multipilaction 20
6
2

##### 5iii)Comparison

In [35]:
n1,n2,n3,n4=21,33.33,21,"hey"

print(n1==n3)
print(n2!=n3)
print(n1>=n2)
print(n1<=n2)

True
True
False
True

#### 5iv)Logical

In [43]:
b1=True
b2= False

print(not(b1))
print(b1+b2)

print(30 and 23)
print(0 and 1 )
print(1 or 0)

False
1
23
0
1

#####  5v) BItwise operation

In [45]:
# Bitwise Operators

i1 = 15 # 1111
i2 = 6 #  0110

print(i1 & i2) # and
print(i1 | i2) # or
print(i1 ^ i2) # xor
print(~i1) # one's complement
print(i1 << 2) # left shift
print(i1 >> 2) # right shift

6
15
9
-16
60
3

#### 5.vi) Membership operators

In [53]:
print("str" in "string")
print("amit" not in "amit kumar singh")
print("xyz" in "hello")
print("ll" in "hello")

True
False
False
True

#### 5.vii) Identity operators

In [55]:
a="abc"
b="abc"

print(a is b)

True

###  String Slicing

In [65]:
name="Amit Kumar Singh"
print(name[0])
print(name[0:4])
#negative index
print(name[-15:-1])
print(name[-16])
## we can not change any perticular string
name[1]="f"

A
Amit
mit Kumar Sing
A

TypeError: 'str' object does not support item assignment

In [81]:
#length of string
print(name)
print(len(name))


## string ends with
print(name.endswith("Singh"))

print("\n")

##string starts with
print(name.startswith("Singh"))
print(name.startswith("Amit"))

print("\n")

## count a in string
print(name.count("i"))
print(name.count("Singh"))

print("\n")

## Capitalize
x="hello i am amit amit kumar singh"
print(x.capitalize()) # capital first letter
print("\n")
## find 
print(x.find("amit"))## return index of first occurence

## replace
x.replace("amit","Amit")

Amit Kumar Singh
16
True


False
True


2
1


Hello i am amit amit kumar singh


11

'hello i am Amit Amit kumar singh'

###  6)List and Tuples

In [85]:
frinends=["ross","monika","joye","rachal","phebee","chandler"]
#list can store any data type

l1=[1,2,4,"amit","kanpur"]

2

#### 6.i) List slicing

In [95]:
#you can slicing 
print(l1[3])
print(type(l1),type(l1[2]),type(l1[4]))

## we can change any perticular value of list
l1[0]=10
print(l1)

amit
<class 'list'> <class 'int'> <class 'str'>
[10, 2, 4, 'amit', 'kanpur']

### 6.ii) List methods

#### 6.ii.a) Sort

In [98]:
l2=[2,5,1,67,43,22,66,90]
print(l2)
# acending order
l2.sort()
print(l2)
## decending order
l2.reverse()
print(l2)

[2, 5, 1, 67, 43, 22, 66, 90]
[1, 2, 5, 22, 43, 66, 67, 90]
[90, 67, 66, 43, 22, 5, 2, 1]

#### 6.ii.b) Addind an element (append)

In [102]:
l2.append(45)
print(l2)
## inserting at perticular position
l2.insert(0,18)
print(l2)

[18, 90, 67, 66, 43, 22, 5, 2, 1, 45, 45]
[18, 18, 90, 67, 66, 43, 22, 5, 2, 1, 45, 45]

####  6.ii.c) Deleting a value

In [103]:
## remove by index 
l2.pop(-1)
print(l2)
## remove a number
l2.remove(22)

[18, 18, 90, 67, 66, 43, 22, 5, 2, 1, 45]

### 6.b) Tuples

In [112]:
t=(1,2,"amit")
print(t)
print(type(t),t[1],type(t[1]),t[2],type(t[2]))

## we can store any data frame

(1, 2, 'amit')
<class 'tuple'> 2 <class 'int'> amit <class 'str'>

####  6.b.i) Tuple methods

In [117]:
a=(1,4,56,2,4,4)
print(a.count(4))## count number of 4s
print(a.index(2))## give value of index of 2

3
3

## 7-Dictionary & Sets

In [120]:
# Dictionary is collection of key-values pairs

a={
    "key":"value",
    "harry":"porter",
    "marks":100,
    "list":[1,2,4]
}

In [125]:
print(a["key"])
print(a["list"][2])

value
4

In [130]:
## it can be changed
a["key"]="chaabi"
print(a["key"])

chaabi

####  7.a) Dictionary Methods

In [133]:
#####  All Keys
print(a.keys())

## all items
print(a.items())

## Update
a.update({"friend":"Dost"})

print(a)

dict_keys(['key', 'harry', 'marks', 'list'])
dict_items([('key', 'chaabi'), ('harry', 'porter'), ('marks', 100), ('list', [1, 2, 4])])
{'key': 'chaabi', 'harry': 'porter', 'marks': 100, 'list': [1, 2, 4], 'friend': 'Dost'}

### 8- If-else Condition

In [139]:

n=int(input("Enter integer"))


if(n%2==0 and n>2 and n<5):
    print("Not Weird")
elif(n%2==0 and n>6 and n<=20):
    print("Weird")
elif(n%2==0 and n>20):
    print("Not Weird")    
elif(n%2!=0):
    print("Weird")

Enter integer20
Weird

In [157]:
def calculator(n1,n2):
    print("sum",n1+n2)
    print("difference",n1-n2)
    print("multiplication",n1*n2)
    print("division",n1/n2)
    
    return

In [146]:
calculator(4,2)

sum 6
difference 2
multiplication 8
division 2.0

In [165]:
def plusMinus(arr):
    positive=0
    negative=0
    zero=0
    n=len(arr)
    for i in range(0,n):
        if(arr[i]>0):
            positive=positive+1
        elif(arr[i]<0):
            negative=negative+1
        else:
            zero=zero+1
    pos=positive/n
    neg=negative/n
    ze=zero/n
    
    print(pos)
    print(neg)
    print(ze)
    
  
    return

In [166]:
test=[1,3,-1,0,5]

plusMinus(test)

0.6
0.2
0.2